src/main/mule/multibranch-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5b771359-31ea-44ac-a17d-a3bf58406d75" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="dbee420f-d45b-4c18-9e11-741419fbaed0" basePath="/api/v1/sbi" >
		<http:request-connection host="s-sbi-system-bank-api.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="multibranch-pipelineFlow" doc:id="452872e3-c9b4-4fff-89ee-c94aa8a3fe73" >
		<http:listener doc:name="Listener" doc:id="896adf87-6bc5-4d95-bbf7-59047e8a5214" config-ref="HTTP_Listener_config" path="multipipline"/>
		<http:request method="POST" doc:name="Request" doc:id="d2594181-01b1-46e5-b69f-2a42c71a84ff" config-ref="HTTP_Request_configuration" path="/core/banking/account/balance">
			<http:headers ><![CDATA[#[output application/java
---
{
	"device_type" : "123456789",
	"client_secret" : "1234567",
	"client_operation" : "123456789",
	"client_id" : "client_id"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="30c8933d-844b-47e1-a7b3-e3cbe954a175" />
	</flow>
</mule>
